body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 89, 116);
    font-size: xx-large;
    color:rgb(162, 198, 255);
}

li {
    list-style-type: none;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
    margin-left: 10px;
}

.delete-button {
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: rgb(179, 0, 0);
}

.task-complete {
    font-style: italic;
    text-decoration: line-through;
    color: #eee;
}